{% extends 'wrapper.html' %}
{% load widget_tweaks humanize static %}
{% block content %}
<section class="container sidebar-boxed">
<div class="row justify-center py-2">
<div class="col-sm-12 col-md-6 col-lg-7 col-xl-7 py-1">
<div class="notification-box notification-box-extra notification-box-success mb-4 p-3">
<p>Welcome, <span class="font-bold">#{{ user.username }}</span>. </p>
<p> Here is your dashboard containing your questions and some recommended questions you might want to check out.</p>
<div class="notification-close notification-close-error"></div>
</div>
{% include './home/questions.html' %}
{% include './home/recommended.html' %}
</div>

<div class="col-sm-12 col-md-6 col-lg-5 col-xl-5 py-2 is-hidden-mobile">
{% include './home/suggestions.html' %}
</div>
</div>
{% include './partials/create-button.html' %}
</section>
{% endblock %}