<div class="ui-explore-sidebar">
<div class="ui-block p-3">
<div class="ui-title text-lg">Explore</div>
<div class="ui-explore-wrapper">
{% for s in suggestions %}
<div class="ui-explore">
<div class="icon">
<svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M3 13H9V16H15V13H21"></path>
<path fill-rule="evenodd" clip-rule="evenodd" d="M3 13L5 4H19L21 13V20H3V13Z"></path>
<path d="M7 7H17"></path>
<path d="M6.5 10H17.5"></path>
</svg>
<span>
<svg class="icon" role="img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-labelledby="questions">
<title id="questions">Questions</title>
<path d="M12 14C12 12 13.576002 11.6652983 14.1186858 11.1239516 14.663127 10.5808518 15 9.82976635 15 9 15 7.34314575 13.6568542 6 12 6 11.1040834 6 10.2998929 6.39272604 9.75018919 7.01541737 9.49601109 7.30334431 9.29624369 7.64043912 9.16697781 8.01061095"></path>
<line x1="12" y1="17" x2="12" y2="17"></line>
<circle cx="12" cy="12" r="10"></circle>
</svg> {{ s.question_set.count }}
</span>
</div>

<div class="meta">
<div class="title">{{ s.name }} <span>#{{ s.slug }}</span></div>
<span>{{ s.description }} </span>
</div>
</div>
{% endfor %}
</div>
</div>

<div class="footer-sidebar">
<a class="footer-item">© {% now "Y" %} WeAsk</a>
</div>
</div>
