{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>{{page_title}} | WeAsk</title>
<meta charset="UTF-8" />
<meta name="theme-color" content="#009B77"/>
<meta name="description" content="Welcome to WeAsk. Join WeAsk. Get real answers to questions. Gain more knowledge. Share ideas." />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover" />
<link rel="stylesheet" href="{% static 'css/uikit.css' %}" type="text/css">
<link href="{% static 'css/main.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/main-2.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/bootstrap.css' %}" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
<link rel="stylesheet" href="{% static 'plugins/iziToast/iziToast.min.css' %}">
</head>

<body data-token="{{csrf_token}}">
<div class="progress-loading" id="loading-bar"><div class="indeterminate"></div></div>
<div class="app-overlay" id="app-overlay"></div>

<main id="content" role="main" class="view-wrapper h-full">
{% block content %}
{% endblock %}
</main>

<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/eruda.min.js' %}"></script>
<script src="{% static 'js/htmx.min.js' %}"></script>
<script src="{% static 'plugins/counter/counter.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/material.min.js' %}"></script>
<script src="{% static 'js/uikit.js' %}"></script>
<script src="{% static 'plugins/iziToast/iziToast.min.js' %}"></script>
<script>
eruda.init();
{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
toast_success('{{ message }}')
{% elif message.tags == 'info' %}
toastr.{{ message.tags }}('{{ message }}')
{% elif message.tags == 'warning' %}
toastr.{{ message.tags }}('{{ message }}')
{% elif message.tags == 'error' %}
toast_error('{{ message }}')
{% endif %}
{% endfor %}
{% endif %}
</script>
</body>
</html>